@use "./base.scss";

.omarchy-plugins-badge {
  display: inline-block;
  line-height: 0;
  text-decoration: none !important;
  background: none !important;
  padding: 0;

  img {
    height: 52px;
    width: auto;
    margin: 0.5rem 0 0.75rem;
    border: none;
    box-shadow: none;
  }

  .omarchy-plugins-badge-white,
  img[src*="omarchy-plugins-badge-white"] {
    display: none;
  }
}

:root[saved-theme="dark"] {
  .omarchy-plugins-badge-black,
  .omarchy-plugins-badge img[src*="omarchy-plugins-badge-black"] {
    display: none;
  }

  .omarchy-plugins-badge-white,
  .omarchy-plugins-badge img[src*="omarchy-plugins-badge-white"] {
    display: inline-block;
  }
}
